html {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

button, input, textarea {
  font-family: inherit;
}


